/* public/styles.css */
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    position: relative;
    font-family: "Titillium Web", sans-serif;
  }

  #sidebar {
    display: block;
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  #logoWrapper {
    height: 180px;
  }

  #logo {
    height: auto;
    width: 100%;
  }

  #gallery {
    height: calc(100% - 280px);
    overflow: scroll;
  }

  .galleryItem {
    display: flex;
    align-items: center;
  }

  .galleryItem p {
    height:40px;
    width: 180px;
    padding:10px 20px;
    margin: 10px;
    border-radius: 10px;
    /* border: solid 2px #000000; */
    align-items: center;
    display: flex;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #eeeeee;
    justify-content: space-between;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 111;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .icon-share {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  .galleryItem p:hover {
    background-color: #dddddd;
    cursor: pointer;
  }

  .addBoardButtonWrapper {
    bottom: 20px;
    position: absolute;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Style for the wrapper that holds both buttons */
  #wrapper {
    position: absolute;
    bottom: 20px; /* Keep it 20px from the bottom of the screen */
    left: 50%; /* Move it to the horizontal center of the sidebar */
    transform: translateX(-50%); /* Center align the buttons horizontally */
    display: flex; /* Make the buttons align next to each other */
    gap: 30px; /* Space between the buttons */
  }

  .hidden {
    display: none;
  }

  #formWrapper {
    position: absolute;
    bottom: 80px; /* Adjust this to position the form right above the buttons */
    left: 10px;
    width: 260px; /* Same width as sidebar */
    background-color: lightgray;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .boardForm {
    display: flex;
    flex-direction: column;
  }

  #boardName {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
  }

  .boardForm button {
    padding: 10px;
    background-color: #eeeeee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .boardForm button:hover {
    background-color: yellowgreen;
  }

  /* Shared button style */
  .addBoardButton {
    background-color: #eeeeee;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    flex: 1; /* Buttons will grow equally and stay next to each other */
  }

  /* Hover effect */
  .addBoardButton:hover {
    background-color: #dddddd;
  }


  .addBoardButton {
    display: block;
    background-color: #eeeeee;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 20px;
  }

  #create {
    padding: 10px;
    gap: 10px;
    bottom: 30px;
    left: 10px;
  }

  .addBoardButton:hover {
    background-color: #dddddd;
  }

  #pixelCanvas {
    display: block;
    padding-left: 300px;
  }

  #boardTitle {
    position: absolute;
    top: 20px;
    display: flex;
    /* justify-content: center;
    width: calc(100% - 300px);
    left: 300px; */
    left: 330px;
    font-size: 24px;
  }

  /* Color Picker Panel */
  #colorPickerPanel {
    position: absolute;
    top: 50%;
    /* left: 320px; */
    right: 20px;
    transform: translateY(-50%);
    width: 120px; /* Adjusted width for the third slider */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  #taskListPanel {
    position: absolute;
    /* top: 50%; */
    bottom: 20px;
    left: 320px;
    padding: 10px;
    /* transform: translateY(-50%); */
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 11;
  }

  #pixel-val-setup {
    position: absolute;
    top: 70px;
    left: 320px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 11;
    height: 20px;
  }

  #pixel-val-setup p {
    margin: 0;
  }

  .icon-container {
    display: flex;
    gap: 0;
  }

    .icon {
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: fill 0.3s ease, stroke 0.3s ease;
    }

    .icon-checkbox, .icon-x, .icon-plus {
        fill: #b0b0b0; /* Initial gray color */
        stroke: #b0b0b0;
        stroke-width: 2;
    }

    .icon:hover {
        fill: #7a7a7a;  /* Darker gray on hover */
        stroke: #7a7a7a;
    }

  #taskList {
    padding-bottom: 10px;
  }

  #taskItem {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin-right: -5px;
  }

  #taskItem p {
    margin-top: 20px;
    margin-left: 5px;
  }

  #addTaskButtonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  #addTaskButtonWrapper #taskInput {
    width: 240px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #b0b0b0;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }

  /* Preset Colors */
  #presetColors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
    justify-items: center; /* Center the items horizontally */
    margin-top: 8px;
  }

  .preset-color {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .preset-color.selected {
    border: 2px solid black;
  }

  #sliders {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #sliders input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: none;
    margin: 0;
    padding: 0;
  }

  /* Adjust thumb position to center vertically */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #000000;
    margin-top: 0; /* Adjusted value to center thumb */
  }

  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid #000000;
  }

  /* Slider Tracks */

  /* For WebKit Browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: none;
    border-radius: 5px;
  }

  #hueSlider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  }

  #saturationSlider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, white, var(--saturation-slider-color));
  }

  #valueSlider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, var(--value-slider-color));
  }

  /* For Firefox */
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: none;
    border-radius: 5px;
  }

  #hueSlider::-moz-range-track {
    background: linear-gradient(to right, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  }

  #saturationSlider::-moz-range-track {
    background: linear-gradient(to right, white, var(--saturation-slider-color));
  }

  #valueSlider::-moz-range-track {
    background: linear-gradient(to right, black, var(--value-slider-color));
  }

  /* For IE */
  input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  #hueSlider::-ms-track {
    background: linear-gradient(to right, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  }

  #saturationSlider::-ms-track {
    background: linear-gradient(to right, white, var(--saturation-slider-color));
  }

  #valueSlider::-ms-track {
    background: linear-gradient(to right, black, var(--value-slider-color));
  }

  /* Hide the default slider appearance */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]:focus {
    outline: none;
  }
